
.d1 {
  background: pink;
}
.d2 {
  background: lightcyan;
}
.d3 {
  background:lightgray;
}
.d4 {
  background: lightgreen;
}
.d5 {
  background: lightskyblue;
}

body {
    font-family: arial;
    margin: 0;
    border-top: solid 8px #0148AD;
    padding-top: 30px;
}
/* --------------------- HEADER ----------------------------------------------------------*/
.header {
    max-width: 1400px;
    margin: 0 auto;
}

/* ------------ HEADER LEFT --------------*/

.logo img{
    width: 230px;
}

/* ------------ HEADER RIGHT ------------*/

.company-information {
    float: right;
    text-align: right;
    border-right: solid 2px #E1E1E1;
    padding-right: 24px;
    margin-right: 24px;
}

.time-block {
  border-right: solid 2px #E1E1E1;
  padding-right: 24px;
  margin-right: 24px;
}

.right-border {
    border-right: solid 2px #E1E1E1;
    padding-right: 24px;
    margin-right: 24px;
    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.company-information .company-name{
    font-size: 19px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 240px;
}
@media (min-width: 1200px) { 
  .company-information .company-name{
    max-width: 350px;
  }
}


.company-information .profile {
    color: #8B8B8B;
    margin-top: -7px;
}

.contact {
    float: right;
    border-right: solid 2px #E1E1E1;
    padding-right: 21px;
}
.contact h4{
    margin: 0;
}
.log-out {
    float: right;
    width: 57px;
    height: 57px;
    margin-left: 20px;
}
.nav-wrapper {
    background: #0148AD;
    border-radius: 8px;
    color: #fff;
    width: 100%;
    margin-top: 17px;
}

.contact-header-text {
    font-weight: normal;
    font-size: 18px;
}
.whatsapp-number {
    padding: 8px 0 8px 32px;
    font-size: 20px;
    background: url("../img/whatsapp-icon.svg") no-repeat 0 11px;
    background-size: 24px;
    font-weight: bold;
    text-align: left;
}
.log-out img{
    width: 57px;
}
/* ------------ NAVIGATION ------------*/
.nav-item {
    padding: 20px;
    display: block;
    color: #fff;
    text-decoration: none;
}
.nav {
  height: 50px;
  background: #0148AD;
  margin-top: 15px;
  margin-bottom: 30px;
}
/* --------------------- GENERAL CONTENT  -------------------------------------------------------*/
.detail-box {
  background: #F4F4F4;
  padding: 25px 20px;
  height: 100%;
}

.box-alert {
  background: #FDF5E3;
  border:solid 1px #E1D491;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 30px;
  width: 90%;
  margin: 30px auto;
}

/* --------------------- TEXT & TITLES -------------------- */
h1 {
  color: #0148AD;
  font-weight:bold;
  font-size: 27px;
}
h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #424952;
  margin-bottom: 15px;
}

h3 {
  font-size: 22px;
  color: #424952;
}

.mt-align-title {
  margin-top:0;
  margin-bottom: 20px;
}

@media (min-width: 992px) { 
  .mt-align-title {
    margin-top: -56px;
  }
}

/* --------------------- BUTTON STYLES -------------------- */

.box-alert .large-btn {
  background-color: #0148AD !important;
  color: #fff;
  font-size: 20px;
  font-size: 20px;
  font-weight: normal;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.btn-primary {
  color: #fff;
  background-color: #0148AD;
  border-color: #0148AD;
  padding: 4px 22px;
}
.btn-secondary {
  color: #fff;
  background-color: #0D7BBC;
  border-color: #0D7BBC;
  padding: 4px 22px;
}
.btn-secondary:hover {
  background-color: #1A89CA;
  border-color: #1A89CA;
}
.go-back {
  text-decoration: none;
}

.btn-fix-width {
  width: 234px;
  margin-left: 20px;
  padding: 6px 22px;
}
.btn-fix-width:hover {
  text-decoration: none;
}

label {
  font-size: 15px;
}

@media (min-width: 1200px) { 
  .pr-lg-50{
    padding-right: 50px;
  }
  .pl-lg-50{
    padding-left: 50px;
  }
}

.fixed-heigth {
  height: 38px;
}

.calendar-picker {
  background: #0148AD url("../img/calendar-icon.svg") no-repeat 8px 7px;
  width: 40px;
  height: 37px;
  margin-left: 20px;
  border-radius: 4px;
  border: none;
} 
.question-sign {
  background: #0148AD url("../img/question-sign.svg") no-repeat 10px 9px;
  width: 33px;
  margin-left: 20px;
  border-radius: 50px;
  border: none;
  background-size: 10px;
  height: 30px;
  margin: 4px 0 0 13px;
}



/* --------------------- TABLE STYLES -------------------- */

.table.slim>:not(caption)>*>* {
  border: none;
  padding: 0.02rem 0;
}


.md-first-colum tr td:first-child {
  width: 40%;
}

table thead {
  background: #7085A3;
  color: #fff;
}
table thead td {
  padding: 0.7rem 0.5rem !important;
}
.table>:not(caption)>*>* {
  border: none;
}

.see-more {
  text-decoration: none;
  color: #0148AD;
  background: url("../img/eye.svg") no-repeat 0 0;
  padding: 3px 0 5px 32px;
}

.table a, a{
  text-decoration: none;
  color: #0148AD;
}
.table a:hover, a:hover {
  text-decoration: underline;;
}

.go-back {
  background: url(../img/back-arrow.svg) no-repeat 0 center;
  padding: 10px 10px 10px 30px;
  font-size: 18px;
  color: #0D7BBC;
}
.go-back:hover {
  text-decoration: none;
  color: #0D7BBC;
}

.width-215 {
  width: 215px;
}

tfoot td{
  padding: 0 .5rem !important;
}

.table-responsive .table{
  min-width:1000px;
}


/* ---------------- SIMPLE FILTER LINKS ------------------- */
.simple-filter-links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 15px;
}
.simple-filter-links li {
  display: inline-block;
}

.simple-filter-links li a {
  text-decoration: none;
  color: #0148AD;
  padding: 1px 20px;
  border-right: solid 1px #B5B5B5;
}
.simple-filter-links li:last-child a {
  border-right: none;
}
/* --------------------- FOOTER -----------------------------------------------------------------*/


footer {
  background:#F5F5F5;
  padding: 40px;
  margin-top: 30px;
}

/* --------------------- RESPOSIVE STYLES -------------------------------------------------------*/


.company-information {
  display: none;
}

.logo {
  text-align: center;
}

.hide-on-mobile {
  display: none;
}

@media (min-width: 992px) { 
  .company-information {
    display: block;
  }
  .logo {
    text-align: left;
  }
  .hide-on-mobile {
    display: block;
  }
}


/* 
@media (min-width: 992px) { ... }

*/
